<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="#">{{ 'Sage femme de Madagascar' | uppercase }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-font-link" href="#">SKILLS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font-link" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-font-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ABOUT
          </a>
          <div class="dropdown-menu dropdown_custom_list" aria-labelledby="navbarDropdown">
            <a class="dropdown-item btn-outline-nav-link nav-font-link" href="#">RAZAKAMANANA Amy</a>
            <div class="dropdown-divider btn-outline-nav-link"></div>
            <a type="button" class="dropdown-item btn-outline-nav-link nav-font-link" data-toggle="modal" data-target=".bd-example-modal-lg">CONTACT</a>
          </div>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa fa-linkedin"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa fa-pinterest"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa fa-youtube"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa fa-mail"></i></a>
          </li>
        </ul>
        <popup></popup>
      </div>
    </div>
  </nav>
