<navbar></navbar>
<fluid></fluid>
<div class="jumbotron">
    <div class="row">
        <div class="col">
            <h4 class="text-center">Vous êtes sur le nouveau blogue de <em>Amy R. RAZAKAMANANA</em> la <i>sage-femme.</i> </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center">Quel est le rôle d’une <em class="text-danger">sage-femme?</em></h1>
            <p class="container">Les femmes se tournent de plus en plus vers une sage-femme pendant leur grossesse. Notre experte Amy R. RAZAKAMANANA évoque les points forts de son métier.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="container">Le rôle d’une sage-femme signifie beaucoup pour la femme enceinte. Elle accompagne les futurs parents pendant toute la grossesse et encore plusieurs semaines après l’accouchement. Elle est présente le jour de la naissance et effectue les soins post partum à domicile. Bref, c’est le témoin privilégié de votre grossesse, à la fois coach et soignante. Aujourd’hui, il n’est pas rare que les gynécologues et maternités recommandent de prendre contact avec une sage-femme.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="container text-danger">LA SAGE-FEMME, LE MEILLEUR <i>SOUTIEN</i> PENDANT LA <b>GROSSESSE</b>.</h3>
            <p class="container">Elle suit l’évolution de votre grossesse en parallèle avec le gynécologue. S’il est le seul à pratiquer les échographies, elle peut effectuer d’autres examens médicaux. Elle est généralement plus disponible et prend le temps de répondre à toutes vos questions. Un rendez-vous dure en moyenne 1h30. Il est possible de demander de participer à des séances collectives ou privées.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="container">Notez que la sage-femme suit les grossesses aussi longtemps que tout se déroule normalement. À la moindre complication, elle vous guidera toujours vers un obstétricien ou un gynéco.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="container text-danger">ELLE <i>SUPERVISE</i> L’ <b>ACCOUCHEMENT</b>.</h3>
            <p class="container">Une sage-femme peut aussi vous aider le jour même de l’accouchement, que vous décidiez de mettre votre bébé au monde à l’hôpital ou à la maison. Si vous souhaitez vivre la naissance la plus naturelle possible, elle vous aide à faire face aux contractions. Elle est aussi formée à savoir quand il devient nécessaire de partir dans un centre hospitalier. À la maternité, elle est à vos côtés tout au long du travail, alors qu’un gynécologue est seulement présent à la fin de l’accouchement.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="container text-danger">ELLE REVIENT À LA <i>MAISON</i> APRÈS LA  <b>NAISSANCE</b>.</h3>
            <p class="container">Après la naissance, les femmes restent moins longtemps à l’hôpital qu’avant. Environ 3 jours. Mais des examens médicaux sur le bébé et la maman restent absolument indispensables. Une sage-femme peut effectuer des visites à domicile. Elle pourra en outre vous conseiller pour l’allaitement et prendre le temps de répondre à toutes les questions que vous vous posez.</p>
        </div>
    </div>
</div>
<!-- <div class="container-fluid p-0">
    <img class="w-100 h-650" src="assets/sage-femme-au-travail.png" alt="">
</div>
<div class="container-fluid p-0">
    <img class="w-100 h-650" src="assets/pied-bebe.jpg" alt="">
</div> -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1>NUTRITION</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/mignon-bebe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <i class="card-title">BÉBÉ</i>
                  <h5>Au secours, mon tout-petit ne veut pas manger ses légumes !</h5>
                  <a href="#" class="btn btn-secondary">LIRE PLUS ></a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/lactation-bebe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <i class="card-title">BÉBÉ</i>
                  <h5>5 aliments pour stimuler la lactation</h5>
                  <a href="#" class="btn btn-secondary">LIRE PLUS ></a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/nourir-bebe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <i class="card-title">BAMBIN</i>
                  <h5>Peut-on utiliser de l’eau du robinet pour les biberons de bébé?</h5>
                  <a href="#" class="btn btn-secondary">LIRE PLUS ></a>
                </div>
              </div>
        </div>
    </div>
</div>
